<div class="container">

  <h1>Welcome!</h1>

  <p>Welcome to Life Tracker! Add yourself and keep track of the schools you've attended and significant life
    events!</p>


  <ul>
    <% @people.each do |person| %>
        <li>
          <%= person.name %>
          <% person.schools.each do |school| %>
              <%= school.title %> <%= school.start_year %> <%= school.end_year %>
          <% end %>
          <% person.life_events.each do |event| %>
              <%= event.title %> (<%= event.date %>)
          <% end %>
          <%= link_to 'Show', person %>
        </li>
    <% end %>
  </ul>


<%= link_to 'Add Person', new_person_url, class: "button" %>
</div>