<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @school.title %>
</p>

<p>
  <strong>Start year:</strong>
  <%= @school.start_year %>
</p>

<p>
  <strong>End year:</strong>
  <%= @school.end_year %>
</p>

<button class="button"><%= link_to 'Edit', edit_school_path(@school) %></button> |
<button class="button"><%= link_to 'Back', schools_path %></button>
